    * {
        box-sizing: border-box;
    }

    nav, footer {
        background-color: black;
        height: 60px;
        width: 100%;
    }

    nav {
        position: relative;
    }

    a {
        color: white;
        text-decoration: none;
        padding: 16px 16px;
        display: inline-block;
    }

    .logo {
        float: left;
        width: 50%;
    }

    .menu {
        float: right;
        width: 50%;
        padding: 16px 16px;
        height: 60px;
    }

    .menu .responsive>a {
        display: block;
    }
    
    .menu.responsive {
        float: none;
    }

    .menu.responsive>a {
        display: inline-block;
    }

    .menu>a:not(:last-child) {
        float: right;
        display: none;
    }

    .menu>.icon {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
    }

    .main-img>img {
        margin-top: 20px;
        width: 100%;
    }

    .project>img {
        width: 98%;
    }

    button {
        width: 98%;
    }

    .row::after {
        clear: both;
        content: "";
        display: table;
    }

    *[class*="col-"] {
        float: left;
    }

    .col-4, .col-12 {
        width: 100%;
    }

    @media only screen and (min-width: 768px) {
        .col-4 {
            width: 33.33%;
        }
        .menu>.icon {
            display: none;
        }
        .menu>a:not(:last-child) {
            display: inline-block;
        }
      
    }